@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* shared styles */

.navbar-item{
  text-decoration: none;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

  /* nav-bar style */

  nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 80px;
    /* height: 100px;
    width: 800px; */
    
  }

  .nav-title{
    display: flex;
    gap: 10px;
  }

  nav ul{
    display: flex;
    align-items: center; 
  }

  nav ul li{
    list-style: none;
    margin-right: 50px;
  }

  .home{
    color: rgb(254, 163, 1);
  }
  .about{
    color: rgb(1, 172, 253);
  }
  .facilities{
    color: rgb(5, 212, 223);
  }
  .admission{
    color: rgb(93, 88, 239);
  }

  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Quicksand", serif;
    border-radius: 8px;
    border: none;
    width: 197px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px;
  }

  header{
    margin: 0px 140px 0 140px;
    /* background-color:gainsboro; */
  }
  /* Banner section style */
.banner{
  display: flex;
  flex-direction: row;
  gap: 50px;
  /* background-color: antiquewhite; */
  /* width: 200px; */
  margin: 0px 50px 0 80px;
  padding-bottom: 2px;
}
.banner-title{
  /* padding-top: 130px; */
  /* padding-bottom: 30px; */
  /* position: absolute; */
  width: 1170px;
  height: 575px;
  /* left: 141px;
  top: 100px; */
  /* margin: 122px 518px 122px 0px; */
  margin: 122px 518px 10px 0px;
}
.primary-color{
  color: #FF900E;
}
.secondary-color{
  color: #01ACFD;
}
.banner-description{
  color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.btn-enroll{
  font-family: Quicksand;
  width: 197px;
  height: 50px;
  padding: 10px;
  color: white;
  background-color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
  border-radius: 12px;
}
.banner-picture{
  /* Group 4 */
position: static;
width: 500px;
height: 575px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 50px;
}
  /* card section style */
.card{
  display: flex;
  flex-direction: column;
  background-image: url('bg.png');
  /* background-color: aquamarine; */
}
  .card-header{
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
}

.card-items{
/* Group 9 */
/* position: absolute; */
width: 1160px;
height: 481.5px;
justify-content: center;
align-items: center;
align-self: center;
/* left: 140px; */
background-color: aquamarine;
}

  /* Story section style */


  /* footer section style */

footer{
  background: rgb(1, 172, 253);
  display: flex;
  color: white;
  padding: 123px 228px 174px 140px;
}

.footer-head{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.footer-item{
  text-decoration: none;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  color: white;
}

.footer-item-list li{
  list-style: none;
}
  /* responsive media query */
  @media screen and (max-width: 576px) {
    nav, nav ul{
      flex-direction: column;
      align-items: center; 
    }
  }