@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* shared styles */

.hidden{
  /* visibility: hidden; */
  display: none;
}
.navbar-item{
  text-decoration: none;
  font-family: "Quicksand", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.text-align{
  text-align: center;
}

  /* nav-bar style */

  nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 80px;
    /* height: 100px;
    width: 800px; */
    
  }

  .nav-title{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  nav ul{
    display: flex;
    align-items: center; 
  }

  nav ul li{
    list-style: none;
    margin-right: 50px;
  }

  .home{
    color: rgb(254, 163, 1);
  }
  .about{
    color: rgb(1, 172, 253);
  }
  .facilities{
    color: rgb(5, 212, 223);
  }
  .admission{
    color: rgb(93, 88, 239);
  }

  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Quicksand", serif;
    border-radius: 8px;
    border: none;
    width: 197px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px;
  }

  header{
    margin: 0px 140px 0 140px;
    /* background-color:gainsboro; */
  }
  /* Banner section style */
.banner{
  width: 1400px;  
  height: 800px;
  left: 141px;
  top: 100px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 70px;
  padding: 0px;
  /* background-color: #FF900E; */
  margin-left: 50px;
}
.banner-title{
  width: 550px;
  height: 300px;
  padding: 150px 50px 150px 0px;
  /* margin: 122px 518px 10px 0px; */ 
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 20px; 
  
}
.banner-picture{
  width: 468.61px;
  height: 575px;
  /* background-color: antiquewhite; */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 50px;
}

.title{
  font-size: 56px;
font-weight: 700;
line-height: 61px;
}

.primary-color{
  color: #FF900E;
}
.secondary-color{
  color: #01ACFD;
}
.banner-description{
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.btn-enroll{
  font-family: Quicksand;
  width: 197px;
  height: 50px;
  padding: 10px;
  color: white;
  background-color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
  border-radius: 12px;
}
.banner-picture{
  /* Group 4 */
position: static;
width: 500px;
height: 575px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 50px;
}
  /* Standard curriculum section style */
.card{
  display: flex;
  flex-direction: column;
  background-image: url('bg.png');
  /* background-color: aquamarine; */
}
  .card-header, .story-header{
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
}

.card-container{
/* Group 9 */
width: 1160px;
height: 481.5px;
justify-content: center;
align-items: center;
align-self: center;
/* background-color: aquamarine; */
display: flex;
flex-direction: row;
gap: 29px;
}

.card-container .image{
  justify-self: center;
  /* background-color: blue; */ 
}

.card-item{
  padding: 50px 40px 50px 40px;
}

.card-1{
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.read-1{
  color: rgb(100, 200, 255);
  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}

.card-2{
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.read-2{
  color: rgb(240, 170, 0);
  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}


.card-3{
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.read-3{
  color: rgb(135, 0, 255);
  font-family: Quicksand;
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
}

  /* Story section style */
.stories{
  background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  padding: 60px 0px 60px 0px;
}

.story-body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 1px; */
  margin: 150px 110px 150px 110px;
}

.story-left{
  border: none;
  margin: auto;
  position: relative;
  width: 540.27px;
  height: 630.52px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.btn-1{
  /* Background */
/* position: absolute; */
width: 174.51px;
height: 47.93px;
/* left: 38.35px;
top: 314.14px; */
border-radius: 47.93px;
background: rgb(60, 216, 232);

color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
border: none; 
position: relative;
top: -28px;
left: 38.35px;
}

.btn-2{

width: 174.51px;
height: 38.35px;
border-radius: 47.93px;
background: rgb(149, 178, 38);

color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
border: none; 
position: relative;
top: -28px;
left: 38.35px;
}

.btn-3{

  width: 174.51px;
  height: 38.35px;
  border-radius: 47.93px;

  background: rgb(93, 88, 240);
  
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  border: none; 
  position: relative;
  top: -28px;
  left: 38.35px;
  }

  .btn-4{

    width: 174.51px;
    height: 38.35px;
    border-radius: 47.93px;
    background: rgb(149, 178, 38);
    
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    border: none; 
    position: relative;
    top: -28px;
    left: 38.35px;
    }

    .btn-5{

      width: 174.51px;
      height: 38.35px;
      border-radius: 47.93px;
      background: rgb(149, 178, 38);
      
      color: rgb(255, 255, 255);
      font-family: Raleway;
      font-size: 15.34px;
      font-weight: 500;
      line-height: 28.76px;
      letter-spacing: 0%;
      text-align: center;
      text-transform: capitalize;
      border: none; 
      position: relative;
      top: -28px;
      left: 38.35px;
      }
.story-heading{
  padding: 25px 99px 10px 38px;
}
.story-description{
  padding: 10px 68px 0px 38px;
}
.story-right{
  /* border: 1px solid black; */
  border: none;
  width: 701px;
  height: 622.4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.heading{
  padding: 0px 40px 33px 37px;
}

.story-1, .story-2, .story-3, .story-4{
  /* border: 1px solid black; */
  border: none;
  margin: auto;
  position: relative;
  /* width: 540.27px;
  height: 630.52px; */
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.btn-view{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 900px;
}

.description{
  /* background-color: ; */
}

  /* footer section style */

footer{
  background: rgb(1, 172, 253);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 123px 228px 174px 140px;
}

.foot-title{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.foot-header{
  color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 40px;
font-weight: 600;
line-height: 39.51px;
letter-spacing: 0%;
text-align: left;
}

.foot-description{
  margin-top: 35px;
}

.footer-head{

}
.footer-item{
  text-decoration: none;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  align-items: left;
  color: white;
  
  /* display: flex;
  flex-direction: column;
  gap: 30px; */
}
.footer-item-list{
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: #FF900E; */
}
.footer-item-list li{
  list-style: none;
}

.foot-description{
  /* padding: 10px 00px 5px 0px; */
  width: 399.02px;
  height: 100px;
  left: 148px;
  top: 2812px;
}

.footer-about h4{
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.footer-contact h4{
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
  /* responsive media query */
  @media screen and (max-width: 576px) {
    nav, nav ul{
      flex-direction: column;
      align-items: center; 
    }
    .banner-picture{
    /* Group 4 */
    position: static;
    width: 336.58px;
    height: 413px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
    }
    .card-container{
      display: flex;
      flex-direction: column;
      }
      .story-left{
        display: none;
      }
      .nav-title h2, .navbar-list, .btn-primary{
        display: none;
      }
      .navbar{
        display: display;
      }
      footer{
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
      }
      .foot-icons{
        display: flex;
        gap: 5px;
      }
      .footer-contact h4{
        width: 200px;
        margin-top: 10px;
      }
  }